<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="'/home'"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'/table'"> Bảng <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <!--    user profile-->
    <div class="user-notify">
      <i class="fa fa-bell-o" aria-hidden="true"></i>
    </div>
    <!--    user setting-->
   <div class="user-setting" >
     <div class="avatar" (click)="openSettingFn()" #toggleButton>Bhs</div>
     <div class="setting-panel" *ngIf="openSetting" #menu>
       <div class="setting-panel-header">Tài khoản</div>
       <div class="info-base">Ảnh và thông tin username and email</div>
       <ul class="items-setting">
         <li><a href="">Hồ sơ và hiển thị</a></li>
         <li><a href="">Hoạt động</a></li>
         <li><a href="">Cài đặt</a></li>
         <li><a href="">Đăng Xuất</a></li>
       </ul>
     </div>
   </div>
  </div>
</nav>
